@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Monument";
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: local('MonumentExtended-Ultralight'),
        url('/fonts/MonumentExtended-Ultralight.woff2') format('woff2'),
        url('/fonts/MonumentExtended-Ultralight.woff') format('woff'),
        url('/fonts/MonumentExtended-Ultralight.ttf') format('truetype'),
        url('/fonts/MonumentExtended-Ultralight.svg') format('svg'),
        url('/fonts/MonumentExtended-Ultralight.eot') format('embedded-opentype');
    }

    @font-face {
        font-family: "Monument";
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src: local('MonumentExtended-Regular'),
        url('/fonts/MonumentExtended-Regular.woff2') format('woff2'),
        url('/fonts/MonumentExtended-Regular.woff') format('woff'),
        url('/fonts/MonumentExtended-Regular.ttf') format('truetype'),
        url('/fonts/MonumentExtended-Regular.svg') format('svg'),
        url('/fonts/MonumentExtended-Regular.eot') format('embedded-opentype');
    }

    @font-face {
        font-family: "Monument";
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: local('MonumentExtended-Ultrabold'),
        url('/fonts/MonumentExtended-Ultrabold.woff2') format('woff2'),
        url('/fonts/MonumentExtended-Ultrabold.woff') format('woff'),
        url('/fonts/MonumentExtended-Ultrabold.ttf') format('truetype'),
        url('/fonts/MonumentExtended-Ultrabold.svg') format('svg'),
        url('/fonts/MonumentExtended-Ultrabold.eot') format('embedded-opentype');
    }



    @font-face {
        font-family: 'Dystopian';
        src: url('/fonts/dystopian-black.eot');
        src: url('/fonts/dystopian-black.eot?#iefix') format('embedded-opentype'),
        url('/fonts/dystopian-black.woff2') format('woff2'),
        url('/fonts/dystopian-black.woff') format('woff'),
        url('/fonts/dystopian-black.ttf') format('truetype'),
        url('/fonts/dystopian-black.svg#dystopianblack') format('svg');
        font-weight: 900;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Dystopian';
        src: url('/fonts/dystopian-bold.eot');
        src: url('/fonts/dystopian-bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/dystopian-bold.woff2') format('woff2'),
        url('/fonts/dystopian-bold.woff') format('woff'),
        url('/fonts/dystopian-bold.ttf') format('truetype'),
        url('/fonts/dystopian-bold.svg#dystopianbold') format('svg');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Dystopian';
        src: url('/fonts/dystopian-regular.eot');
        src: url('/fonts/dystopian-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/dystopian-regular.woff2') format('woff2'),
        url('/fonts/dystopian-regular.woff') format('woff'),
        url('/fonts/dystopian-regular.ttf') format('truetype'),
        url('/fonts/dystopian-regular.svg#dystopianregular') format('svg');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Dystopian';
        src: url('/fonts/dystopian-light.eot');
        src: url('/fonts/dystopian-light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/dystopian-light.woff2') format('woff2'),
        url('/fonts/dystopian-light.woff') format('woff'),
        url('/fonts/dystopian-light.ttf') format('truetype'),
        url('/fonts/dystopian-light.svg#dystopianlight') format('svg');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    html,
    body,
    #__next {
        @apply w-full;
        height: 100vh;
    }

    body {
        @apply flex font-ibm text-white bg-black;
    }

    .main::before{
        content:'';
        @apply absolute top-0 right-0 h-full w-1/3;
        background: #222222;
        z-index: -1;
    }

    .main.kit-kat::before{
        @apply left-0 right-auto;
    }

    textarea,
    input {
        @apply bg-white text-black;
    }
}

@layer components {

    .is-style-outline {
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1.5px;
        @apply text-transparent font-black;
    }
}
